.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vmin;
  background-color: lightslategrey;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25vmin;
  width: 50vmin;
  border: 1px solid white;
  background-color: white;
}

section{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card :nth-child(1){
  justify-content: center;
  align-items: center;
}

.card :nth-child(2){
  justify-content: center;
  align-items: flex-start;
  
}

img {
  width: 50%;
}

h4 {
  border-bottom: 1px solid black;
}